<div class="h-100">

  <div class="d-flex h-100">
      <div class="bg-dark h-100 w-auto">
        <mat-drawer-container class="example-container" autosize>
          <mat-drawer #drawer class="example-sidenav" mode="side">
            <a [routerLink]="['empleado/agregar']">Agregar Empleado</a>
            <a [routerLink]="['']">Ver Empleados</a>
          </mat-drawer>
          <div class="example-sidenav-content bg-dark">
            <button class="btn btn-dark" type="button" mat-button (click)="drawer.toggle()">
              Show Options
            </button>
          </div>
        </mat-drawer-container>
    </div>  
      <div class="w-100">
       
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
